header {
    height:6vh;
    background-color: gray;
}

section {
    height: 84vh;
    margin: 2vh 0 2vh 0;
    background-color: beige;
}

footer {
    height:6vh;
    background-color: gray;
}

.abc {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.a {
    height: 50%;
    background-color: rgb(71, 220, 71);
}

.b {
    height: 25%;
    background-color: green;
}

.c {
    height: 25%;
    background-color: yellow;
}

@media (min-width:820px){
    .abc {
        width:100%;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .a {
        height:60%;
        width:100%;
    }
    .b {
        height:40%;
        width: 50%;
    }
    .c {
        height:40%;
        width: 50%;
    }

}

@media (min-width: 1080px) {
    .abc {
        height:100%;
        flex-wrap: nowrap;
    }

    .b {
        height:100%;
        justify-self: flex-start;
        order:-1;
    }

    .a {
        height:100%;
        justify-self: center;
    }

    .c {
        height:100%;
        justify-self: flex-end;
    }
}