header {
  height: 6vh;
  width: 100vw;
  background-color: gray;
}

section {
  height: 84vh;
  background-color: bisque;
  margin: 2vh 0 2vh 0;
  display: flex;
  flex-direction: column;
}

.aAndB {
  height: 66.66666%;
}

.a {
  height: 50%;
  background-color: red;
}

.b {
  height: 50%;
  background-color: orange;
}

.c {
  height: 33.33333%;
  background-color: yellow;
}

footer {
  height: 6vh;
  width: 100vw;
  background-color: gray;
}

@media (min-width: 820px) {
  section {
    background-color: bisque;
    display: flex;
    flex-direction: row;
  }

  .aAndB {
    height: 100%;
    width: 50%;
  }

  .c {
    height: 100%;
    width: 50%;
  }
}

@media (min-width: 1080px) {
  .aAndB {
    width: 70%;
  }

  .c {
    width: 30%;
  }
}
